/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Custom css */
@import url(components/herobanner.css);
@import url(components/buttons.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  text-align: left;
}

h2, h3, h4 {
  text-align: center;
  font-family: Poppins;
}

a {
  text-decoration: none;
}

p {
  text-decoration: none;
  margin: 0;
}

/* Custom design below! */
